@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
body{
background-image: url(/public/lightbackground.jpg);
background-repeat:no-repeat;
background-position:center;
background-size: cover;
background-attachment: fixed;

} 
.navbar .nav-link{
  font-size:1.3rem;
  margin-left:5%;
  margin-right:5%;

}
.navbar .navbar-brand {
  font-family: 'Ms Madi', cursive;
  margin-left:3%;

}
.nav-link:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.nav-link:hover:after {
  width: 100%;
  background: rgba(223, 0, 252, 0.797);
}
.navbar-nav{
margin-left:5rem;
}
.navbar-collapse{
  flex-grow:0;

  width:60%;
  

}

.mode{
  float:right;
  margin-right:5%;
}
.section{
  width:1200px;
  margin:0 auto;
  border-radius:15px;
  box-sizing: content-box;
  transition: box-shadow,width 0.5s ;
}
.section:hover{
  width:1000px;
}

#photo{
  height:350px;
  width:350px;
  border-radius: 50%;
  background-image: url(/public/profile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: height,width 0.5s;
}

#intro{
  background-image:none ;
  text-align: center;
  font-size:60px;
}
#intro h1{
  font-size:120px;
  margin-left:5%;
  font-family: 'Nixie One', cursive; 
}
#intro p{
  margin-left:5%;
  font-size:22px;
}
#intro span{
  font-size:32px;
  font-family: 'Niconne', cursive;

}